# Aktifkan mod_rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Set default page
    DirectoryIndex index.php

    # Biarkan file/folder asli tetap diakses
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua request ke index.php
    RewriteRule . index.php [L]
</IfModule>
